<div>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
  <input [(ngModel)]="username" type="text" required 
         name="username" #usernameRef="ngModel" minlength="3"
         class="ng-dirty ng-valid ng-touched"
         ng-reflect-model="ssddsds"
         ng-reflect-minlenght="3"
         ng-reflect-name="username">
  {{usernameRef.valid}}
  {{usernameRef.errors | json}}
  <div *ngIf="usernameRef.errors?.required">
    this is required
  </div>
  <div *ngIf="usernameRef.errors?.minlength">
    should be at least 3 charactors
  </div>

  <input [(ngModel)]="password" type="password" required name="password" #passwordRef="ngModel" required>
  {{passwordRef.valid}}
  {{passwordRef.errors | json}}
  <div *ngIf="passwordRef.errors?.required">
      this is required
    </div>
  <button type="submit">Login</button>
</form>
</div>
